<section>{{blog.id}}
  <div class="home-card card" id="#single-blog">
    <h2>{{heading}}</h2>
    <div>
      <h3>By: {{user.name}}</h3>
      <p>{{format_date createdAt}}</p>
    </div>
    <h3>Content</h3>
    <p>{{content}}</p>
    {{#each comments}}
    <p> user: {{user.name}} date {{format_date createdAt}}</p>
      <p>{{remark}}</p>
    {{/each}}
  </div>
</section>